body {
    background-color: beige;
    display: flex;
    flex-direction: column;
}
ul li {
    display: inline;
    margin: 0 5px;
}
h3 {
    font-size: 25px;
    font-weight: bold;  
    margin-top: 5px; 
}

#title {
    background-color: orange;
    color: white;
    margin: -10px -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title1 p {
    font-size: 20px;
    margin-left: 10px;
}
#title2 {
    font-size: 20px;
}
#categories {
    display: flex;
    flex-direction: row;
    margin: 50px 150px 50px;
    align-items: center;
}
.boxes {
    border: 3px solid orange;
    background-color: white;
    padding: 15px;
    margin: 10px;
    
}
.text {
    font-size: 15px;
}
.end {
    margin-bottom: 5px;
    background-color: orange;
    color: white;
    padding: 3px 40px;;
    display: flex;
    justify-content: center;
}
